<aside class="sidebar" [class.open]="menuOpen$ | async">
  <h3 class="sidebar-title">Academica</h3>

  <nav class="sidebar-nav">

    <!-- INICIO (exacto) -->
    <a
      routerLink="/portal"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      style="cursor: pointer;"
      (click)="closeMenu()"
    >
      <i class="fa-solid fa-house"></i>
      <span>Inicio</span>
    </a>

    <a
      routerLink="/portal/aula"
      routerLinkActive="active"
      style="cursor: pointer;"
      (click)="closeMenu()"
    >
      <i class="fa-solid fa-plus"></i>
      <span>Crear aula</span>
    </a>

    <a
      routerLink="/portal/alumnos"
      routerLinkActive="active"
      style="cursor: pointer;"
      (click)="closeMenu()"
    >
      <i class="fa-solid fa-graduation-cap"></i>
      <span>Alumnos</span>
    </a>

    <a
      routerLink="/portal/profesores"
      routerLinkActive="active"
      style="cursor: pointer;"
      (click)="closeMenu()"
    >
      <i class="fa-solid fa-user-tie"></i>
      <span>Profesores</span>
    </a>

    <a
      routerLink="/portal/cursos"
      routerLinkActive="active"
      style="cursor: pointer;"
      (click)="closeMenu()"
    >
      <i class="fa-solid fa-user-tie"></i>
      <span>Cursos</span>
    </a>

    <a
      routerLink="/portal/configuracion"
      routerLinkActive="active"
      style="cursor: pointer;"
      (click)="closeMenu()"
    >
      <i class="fa-solid fa-gear"></i>
      <span>Configuración</span>
    </a>

    <a
      routerLink="/portal/perfil"
      routerLinkActive="active"
      style="cursor: pointer;"
      (click)="closeMenu()"
    >
      <i class="fa-solid fa-user"></i>
      <span>Perfil</span>
    </a>

  </nav>
</aside>

<div class="sidebar-overlay" [class.open]="menuOpen$ | async" (click)="closeMenu()"></div>
