<aside class="sidebar">
    <nav class="sidebar-nav">
        <a href="" routerLinkActive="active">
            <i class="fa-solid fa-house"></i>
            <span>Inicio</span>
        </a>
        <a href="/crearaula" routerLinkActive="active">
            <i class="fa-solid fa-plus"></i>
            <span>Crear aula</span>
        </a>
        <a href="/alumnos" routerLinkActive="active">
            <i class="fa-solid fa-graduation-cap"></i>
            <span>Alumnos</span>
        </a>
        <a href="/profesores" routerLinkActive="active">
            <i class="fa-solid fa-user-tie"></i>
            <span>Profesores</span>
        </a>
        <a href="/configracion" routerLinkActive="active">
            <i class="fa-solid fa-gear"></i>
            <span>Configuracion</span>
        </a>
    </nav>
</aside>