<aside class="sidebar">
  <div class="sidebar-header">
    <div class="logo">
      <div class="logo-icon">🎓</div>
      <span>Instituto<span> UCI</span></span>
    </div>
  </div>

  <nav class="sidebar-content">
    <div class="menu-section">
      <p class="section-title">Académico</p>
      
      <a routerLink="/portal-estudiante/oferta-academica" routerLinkActive="active" class="menu-item">
        <i class="icon-book-open"></i>
        <span>Oferta Académica</span>
      </a>

      <a routerLink="/mis-cursos" routerLinkActive="active" class="menu-item">
        <i class="icon-layers"></i>
        <span>Mis Cursos Inscritos</span>
      </a>

      <a routerLink="/horario" routerLinkActive="active" class="menu-item">
        <i class="icon-calendar"></i>
        <span>Mi Horario</span>
      </a>
    </div>

    <div class="menu-section">
      <p class="section-title">Personal</p>
      
      <a routerLink="/calificaciones" routerLinkActive="active" class="menu-item">
        <i class="icon-award"></i>
        <span>Calificaciones</span>
      </a>

      <a routerLink="/pagos" routerLinkActive="active" class="menu-item">
        <i class="icon-credit-card"></i>
        <span>Pagos y Facturas</span>
      </a>
    </div>
  </nav>

  <div class="sidebar-footer">
    @if (datosAlumno) {
      <div class="user-info">
        <img [src]="'https://ui-avatars.com/api/?name=' + datosAlumno.nombres + '+' + datosAlumno.apellidos + '&background=CCCCFF&color=111'" alt="Avatar">
        
        <div class="user-text">
          <span class="user-name">{{ datosAlumno.nombres }} {{ datosAlumno.apellidos }}</span>
          <span class="user-role">Estudiante</span>
        </div>
      </div>
    } @else {
      <div class="user-info">
        <p>Cargando perfil...</p>
      </div>
    }

    <button class="logout-btn" (click)="logout()">
      <i class="icon-log-out"></i>
      <span>Cerrar Sesión</span>
    </button>
  </div>
</aside>