.curso-container {
  background: #f9fafb;
  padding: 20px;
}

.curso-form {
  background: white;
  padding: 20px;
  border-radius: 12px;
}

.form-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.form-left label,
.form-right label {
  font-weight: 600;
  margin-top: 10px;
  display: block;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

textarea {
  min-height: 100px;
}

.image-preview {
  margin-top: 10px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px dashed #ccc;
}

.image-preview img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.form-actions {
  text-align: right;
  margin-top: 15px;
}

button {
  background: #2563eb;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.divider {
  margin: 30px 0;
}

/* CARDS */
.curso-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.curso-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,.08);
}

.curso-card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.card-body {
  padding: 15px;
}

.card-body h3 {
  margin: 0;
  font-size: 16px;
}

.card-body p {
  font-size: 14px;
  color: #555;
}


.image-actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.btn-upload {
  background: #10b981;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.btn-upload:hover {
  background: #059669;
}
