<header class="header">
  <nav class="nav">
    
    <div class="logo">
      <img src="https://cdn-icons-png.flaticon.com/512/3135/3135755.png" alt="Logo">
      <h1>Academica</h1>
    </div>

    <ul class="menu">
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Servicios</a></li>
      <li><a href="#">Sobre nosotros</a></li>
    </ul>

    <div class="auth">
      <a href="/login" class="btn-login">Login</a>
      <a href="#" class="btn-signup">Sign up</a>
    </div>

  </nav>
</header> 
