<header class="main-header">
  <div class="container">
    <div class="logo" routerLink="/">
      <img src="logo.jpg" alt="UCI Logo" style="border-radius: 50%;">
      <div class="logo-names">
        <span class="main-name">UCI</span>
        <span class="sub-name">EDUCACIÓN EN SALUD</span>
      </div>
    </div>
    
    <button class="hamburger" (click)="toggleMenu()" [class.open]="menuOpen">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <nav class="nav-links" [class.open]="menuOpen">
      <a routerLink="/home" routerLinkActive="active">Inicio</a>
      <a routerLink="/nosotros" routerLinkActive="active" style="cursor: pointer;" (click)="menuOpen=false">Nosotros</a>
      <a routerLink="/cursos" routerLinkActive="active" (click)="menuOpen=false">Cursos</a>
      <a routerLink="/contacto" routerLinkActive="active" (click)="menuOpen=false">Contacto</a>
      <button class="btn-campus" routerLink="/login" (click)="menuOpen=false">
        <i class="fas fa-graduation-cap"></i> Aula Virtual
      </button>
    </nav>
  </div>
</header>